In [ ]:
# 상위 5개 행 조회
data.head()
# PercentSalaryHike 열만 조회
data['PercentSalaryHike']
#  Age, DistanceFromHome, Gender열만 조회
data[['Age','DistanceFromHome','Gender']]
# Age, DistanceFromHome, Gender열만 DistanceFromHome 열 기준으로 내림차순 정렬해서 조회
data[['Age','DistanceFromHome','Gender']].sort_values(by='DistanceFromHome',axis=0,ascending=False)

In [ ]:
#종합실습
# 라이브러리 불러오기
import pandas as pd
# 파일 읽어오기
titanic = pd.read_csv('https://raw.githubusercontent.com/DA4BAM/dataset/master/titanic_simple.csv')

titanic['Name']

titanic[['Name','Age','Sex']]

titanic[['Name','Age','Sex']].head(10)

titanic.loc[titanic['Age']>70]

Fare_mean=titanic['Fare'].describe()['mean']
print(titanic['Fare'].describe())
print(Fare_mean)

titanic.loc[titanic['Fare']<Fare_mean]

titanic.loc[titanic['Embarked'].isin(['Southhampton','Queenstown'])]

titanic.loc[(titanic['Sex']=='male')&(titanic['Age'].between(10,19,inclusive='left')),['Fare']].mean()

#################################

In [ ]:
# 데이터 읽어오기
temp = pd.read_csv('https://raw.githubusercontent.com/DA4BAM/dataset/master/airquality_simple.csv')  

# 상위 5개 확인

temp.head(5)

temp.groupby(['Month'])[['Ozone','Wind','Temp']].mean()

print(temp.groupby(['Month'])[['Ozone','Wind','Temp']].min())
print(temp.groupby(['Month'],as_index=False)['Ozone','Wind','Temp'].max())
print(temp.groupby(['Month'])[['Ozone','Wind','Temp']].std())

In [ ]:
#종합실습
# 라이브러리 불러오기
import pandas as pd
# 파일 읽어오기
titanic = pd.read_csv('https://raw.githubusercontent.com/DA4BAM/dataset/master/titanic_simple.csv')

titanic['Fare'].median()

titanic.groupby(['Embarked'])[['Fare']].mean()

tmp=titanic.groupby(['Embarked','Sex'])[['Fare','Age']].mean()
tmp

# 프랑스가 영국보다 비싸다

tmp=titanic.groupby(['Pclass','Survived'])[['Age','Fare']].agg(['min','max','mean','std'])
tmp

tmp.reset_index()

######################################

In [ ]:
data['JobSat'].value_counts()

data['JobSat2']=np.where(data['JobSat']<3,'unsat','sat')
data.head(10)

data['Diff_Income']=data['M_Income']-data['Income_LY']
display(data.head())

In [ ]:
data.drop(['PctSalHike','TotWY'],axis=1,inplace=False)

data['Marital'].map({'Single':0, 'Married':1, 'Divorced':2})

In [ ]:
#종합실습
# 라이브러리 불러오기
import pandas as pd
# 파일 읽어오기
path = 'https://bit.ly/TitanicFile'
titanic = pd.read_csv(path)

titanic.head(5)

# 4-1) PassengerId, Name, Ticket, Cabin 열 삭제
titanic.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'],axis=1, inplace=True)
display(titanic.head(3))

# 4-2) 열 이름 변경: Sex --> Male
titanic.rename(columns={'Sex':'Male'},inplace=True)
display(titanic.head(3))

# 4-3) Male 열 값 변경: male --> 1, female --> 0
titanic['Male']=np.where(titanic['Male']=='male',1,0)
display(titanic.head(3))

# 4-4) Family = SibSp + Parch
titanic['Family']= titanic['SibSp']+titanic['Parch']
display(titanic.head(3))

# 4-5) SibSp, Parch 열 삭제
titanic.drop(['SibSp', 'Parch'], axis=1, inplace=True)
display(titanic.head(3))

# 4-6) 확인
display(titanic.head(3))

binage=[0,10,20,30,40,50,60,70,80,np.inf]
titanic['AgeName']=pd.cut(titanic['Age'], right=False, bins = binage, labels={'유아','10대','20대','30대','40대','50대','60대','70대','80대'})
titanic.head(10)

###########################################

In [ ]:
x=list(range(1,11))
y=[2,5,7,8,5,6,4,8,7,6]
plt.plot(x,y)

plt.plot('date','item3',data=data)
plt.xticks(rotation=33)
plt.show()

In [ ]:
#차트 생성까지만